---
export interface Props {
  title?: string
  size?: number | string
  secondaryColor?: string
}
const { title, size = 24, secondaryColor = "#fff" } = Astro.props
---

<svg
  viewBox="0 0 64 64"
  width={size}
  height={size}
  role={title ? "img" : "presentation"}
  aria-hidden={!title}
>
  {title && <title>{title}</title>}
  <g opacity="0.9" transform="translate(5.33, 6.67)">
    <path d="M53.3333 14.299C53.3333 13.0285 52.549 12.0756 51.2941 12.0756H45.6471C45.6471 12.0756 41.2549 11.758 40.1569 6.83486C39.2157 3.0234 38.5882 0.00599316 34.0392 0.00599316C32.9412 0.00599316 31.5294 0.00599316 30.1176 0.00599316C30.1176 0.00599316 26.5098 0.00599316 23.0588 0.00599316C21.6471 0.00599316 20.3922 0.00599316 19.1373 0.00599316C14.7451 -0.152818 13.9608 2.86459 13.0196 6.67605C11.9216 11.5992 7.68627 11.9168 7.68627 11.9168H2.03922C0.941176 11.9168 0 13.0285 0 14.299L0.784314 29.386V29.5448L0 48.9198C0 50.0314 0.941176 50.6667 2.03922 50.6667H51.2941C52.3922 50.6667 53.3333 50.0314 53.3333 48.9198L52.549 29.2272C52.549 29.2272 52.549 29.2272 52.549 29.0684L53.3333 14.299ZM23.0588 6.19962H29.9608C30.902 6.19962 31.8431 7.47011 32 8.42297C32.1569 9.53465 31.2157 10.9639 30.2745 10.9639H23.3725C22.4314 10.9639 21.4902 9.69346 21.3333 8.74059C21.1765 7.62892 22.1176 6.19962 23.0588 6.19962Z" fill="currentColor"/>
    <path d="M27.7333 40C27.9111 40 27.9111 40.5614 27.9111 40.9825C27.9111 41.9649 27.0222 42.6667 26.6667 42.6667C26.3111 42.6667 25.4222 41.9649 25.4222 40.9825C25.4222 40.5614 25.4222 40 25.6 40H24.1778C24 40 24 40.9825 24 41.5439C24 43.6491 25.9556 45.3333 26.6667 45.3333C27.3778 45.3333 29.3333 43.6491 29.3333 41.5439C29.3333 40.9825 29.1556 40 29.1556 40H27.7333Z" opacity="0.9" fill={secondaryColor}/>
    <path d="M33.2698 27.7117C32.254 21.7658 28.6984 16 27.1746 16C25.4815 16 21.5873 21.9459 20.4021 27.7117L16 31.6757V42.6667H19.8942L23.4497 38.3423C23.7884 38.7027 24.2963 39.0631 24.6349 39.0631H29.2064C29.7143 39.0631 30.0529 38.8829 30.3915 38.3423L33.9471 42.6667H37.3333V31.6757L33.2698 27.7117ZM26.836 25.7297C25.9894 25.7297 25.3122 25.7297 24.6349 25.9099C25.3122 23.7477 26.328 22.1261 26.836 22.1261C27.3439 22.1261 28.3598 23.9279 29.037 25.9099C28.3598 25.7297 27.6825 25.7297 26.836 25.7297Z" opacity="0.9" fill={secondaryColor}/>
  </g>
</svg>